apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

resources:
  - ds/iot-gateway-daemonset.yaml
  - ds/iot-ap-daemonset.yaml

configMapGenerator:
  - name: iot-gw-config
    files:
      - config/hostapd.conf
      - config/dnsmasq.conf
      - config/nftables.conf

generatorOptions:
  disableNameSuffixHash: true

images:
  - name: ghcr.io/kacperjarocki/iot-gateway
    newTag: 0.1.0
  - name: ghcr.io/kacperjarocki/iot-ap
    newTag: 0.1.9

commonLabels:
  app.kubernetes.io/part-of: iot-gateway
